<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <!--<link href="/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/js/jquery-3.4.1.min.js"></script>-->
    <!--<script src="/js/bootstrap.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:fragment="header">
<div class="container-fluid">
    <!--避免内容被遮盖的现象-->
    <nav class="navbar navbar-default"></nav>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                </button>
                <a class="navbar-brand" href="#">董仲华</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">分类</a></li>
                    <li><a href="#">归档</a></li>
                    <li><a href="#">标签</a></li>
                    <li><a href="#">关于我</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Donate</a></li>
                    <li><a href="">写博客</a></li>

                    <div class="nav navbar-nav navbar-right" th:unless="${#httpServletRequest.remoteUser}">
                        <li><a th:href="@{/login}">登录</a></li>
                        <li><a th:href="@{/register}">注册</a></li>
                    </div>
                    <div class="nav navbar-nav navbar-right" th:if="${#httpServletRequest.remoteUser}">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">用户名 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">个人主页</a></li>
                                <li><a href="">消息</a></li>
                                <li><a href="">反馈</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a th:href="@{/logout}">退出登录</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</div>
</div>
</body>
</html>