<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <!--<link href="/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/js/jquery-3.4.1.min.js"></script>-->
    <!--<script src="/js/bootstrap.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/editormd.css">
    <link rel="stylesheet" href="/plugin/editormd/css/editormd.preview.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/plugin/editormd/lib/marked.min.js"></script>
    <script src="/plugin/editormd/lib/prettify.min.js"></script>

    <script src="/plugin/editormd/lib/raphael.min.js"></script>
    <script src="/plugin/editormd/lib/underscore.min.js"></script>
    <script src="/plugin/editormd/lib/sequence-diagram.min.js"></script>
    <script src="/plugin/editormd/lib/flowchart.min.js"></script>
    <script src="/plugin/editormd/lib/jquery.flowchart.min.js"></script>

    <script src="/js/editormd.js"></script>

</head>
<body>
<div id="app" style="background-color: #f9f9f9">
    <div th:replace="header :: header"></div>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="article">
                        <div class="article-top"></div>
                        <div class="article-content">
                            <div id="my-article">
                                <textarea style="display:none;" name="editormd-markdown-doc" id="mdText"></textarea>
                            </div>
                        </div>
                        <div class="article-bottom">
                            <div class="article-tags"></div>
                            <div class="pre-next"></div>
                            <div class="like-share"></div>
                            <div class="push-comment"></div>
                            <div class="comment-list"></div>
                        </div>

                    </div>
                    <div class="comment"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</div>
<script src="/js/show.js"></script>
</body>
</html>