<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<input type="file" name="file" id="file">
<button id="upload">upload</button>

<div  class="progress">
    <div id="progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="sr-only">0% Complete</span>
    </div>
</div>

<script type="text/javascript">
    var bytesPerPiece = 5 * 1024 * 1024; // 每个文件切片大小定为1MB .
    var totalPieces;
    var index;
    var totalSuccess;
    //发送请求
    $("#upload").click(function () {
        upload();
    });

    function upload() {
        var blob = $("#file")[0].files[0];
        var start = 0;
        var end;
        var filesize = blob.size;
        var filename = blob.name;
        console.log(filesize/1024/1024+filename);
        //计算文件切片总数
        totalPieces = Math.ceil(filesize / bytesPerPiece);
        index = 0;
        totalSuccess = 0;
        while(start < filesize) {
            end = start + bytesPerPiece;
            if(end > filesize) {
                end = filesize;
            }

            var chunk = blob.slice(start,end);//切割文件
            var suffixIndex = filename.lastIndexOf(".");
            var slicename= filename.substring(0,suffixIndex-1) + index + filename.substring(suffixIndex);
            console.log(slicename);

            var formData = new FormData();
            formData.append("files", chunk, slicename);
            $.ajax({
                url: '/uploadV',
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType:"json",
                mimeType:"multipart/form-data",
                success: function (data) {
                    showProcess(data,filename);
                },
                error: function (data) {
                }
            });
            start = end;
            index++;
        }
    }

    function showProcess(data,filename) {
        totalSuccess++;
        var process = 100*totalSuccess / totalPieces+"%";
        console.log(process);
        $("#progress").css("width",process);
        if (totalPieces === totalSuccess){
            $.ajax({
                url: '/merge',
                type: 'GET',
                cache: false,
                data: {
                    filename: filename,
                    totalPieces: totalPieces
                },
                dataType: 'json',
                success:function (data) {
                    alert("success"+data)

                }
            })
        }
    }
</script>
</body>
</html>