.article-content{
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px 0;
}
.article-type{
    border-radius: 5px;
    background-color: #63a35c;
}
.header-inline > div{
    display: inline-block;
    margin-left: 5px;
}
.read-all{
    font-size: 14px;
}
.read-all a{
    padding: 3px 0;
    border-bottom: 2px solid;
    text-decoration: none;
    color: #7f7f7f;
}
.read-all a:hover{
    color: #38b7ea;
    border-bottom: 2px solid #7f7f7f;
}

.nav-cursor li a{
    cursor: default;
}

.article-meta i{
    margin-left: 5px;
    font-size: 15px;
    color: #63676d;
}
.article-entry{
    font-size: 16px;
    padding: 10px 8px;
    line-height: 2em;
    color: #565a5f;
}
.article-tags i{
    color: #63676d;
    margin: 10px 5px 0 0;
}
.article-tags a{
    color: #777c83;
    text-decoration: none;
}

hr{
    margin-top: 10px;
    margin-bottom: 5px;
}

.center{
    border:  1px solid silver;
    padding: 0 0 20px 20px;
    margin: 0 0 25px;
    box-shadow: 0 2px 5px 0 rgba(33, 22, 22, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
}