<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.dsvshx.blog.mapper.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="xyz.dsvshx.blog.entity.Feedback" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contactInfo" property="contactinfo" jdbcType="VARCHAR" />
    <result column="personId" property="personid" jdbcType="INTEGER" />
    <result column="feedbackDate" property="feedbackdate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="xyz.dsvshx.blog.entity.Feedback" extends="BaseResultMap" >
    <result column="feedbackContent" property="feedbackcontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, contactInfo, personId, feedbackDate
  </sql>
  <sql id="Blob_Column_List" >
    feedbackContent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="xyz.dsvshx.blog.entity.FeedbackExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="xyz.dsvshx.blog.entity.FeedbackExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from feedback
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from feedback
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.dsvshx.blog.entity.FeedbackExample" >
    delete from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.dsvshx.blog.entity.Feedback" >
    insert into feedback (id, contactInfo, personId, 
      feedbackDate, feedbackContent)
    values (#{id,jdbcType=INTEGER}, #{contactinfo,jdbcType=VARCHAR}, #{personid,jdbcType=INTEGER}, 
      #{feedbackdate,jdbcType=VARCHAR}, #{feedbackcontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.dsvshx.blog.entity.Feedback" >
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contactinfo != null" >
        contactInfo,
      </if>
      <if test="personid != null" >
        personId,
      </if>
      <if test="feedbackdate != null" >
        feedbackDate,
      </if>
      <if test="feedbackcontent != null" >
        feedbackContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contactinfo != null" >
        #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="personid != null" >
        #{personid,jdbcType=INTEGER},
      </if>
      <if test="feedbackdate != null" >
        #{feedbackdate,jdbcType=VARCHAR},
      </if>
      <if test="feedbackcontent != null" >
        #{feedbackcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.dsvshx.blog.entity.FeedbackExample" resultType="java.lang.Integer" >
    select count(*) from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update feedback
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.contactinfo != null" >
        contactInfo = #{record.contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.personid != null" >
        personId = #{record.personid,jdbcType=INTEGER},
      </if>
      <if test="record.feedbackdate != null" >
        feedbackDate = #{record.feedbackdate,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackcontent != null" >
        feedbackContent = #{record.feedbackcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update feedback
    set id = #{record.id,jdbcType=INTEGER},
      contactInfo = #{record.contactinfo,jdbcType=VARCHAR},
      personId = #{record.personid,jdbcType=INTEGER},
      feedbackDate = #{record.feedbackdate,jdbcType=VARCHAR},
      feedbackContent = #{record.feedbackcontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update feedback
    set id = #{record.id,jdbcType=INTEGER},
      contactInfo = #{record.contactinfo,jdbcType=VARCHAR},
      personId = #{record.personid,jdbcType=INTEGER},
      feedbackDate = #{record.feedbackdate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.dsvshx.blog.entity.Feedback" >
    update feedback
    <set >
      <if test="contactinfo != null" >
        contactInfo = #{contactinfo,jdbcType=VARCHAR},
      </if>
      <if test="personid != null" >
        personId = #{personid,jdbcType=INTEGER},
      </if>
      <if test="feedbackdate != null" >
        feedbackDate = #{feedbackdate,jdbcType=VARCHAR},
      </if>
      <if test="feedbackcontent != null" >
        feedbackContent = #{feedbackcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="xyz.dsvshx.blog.entity.Feedback" >
    update feedback
    set contactInfo = #{contactinfo,jdbcType=VARCHAR},
      personId = #{personid,jdbcType=INTEGER},
      feedbackDate = #{feedbackdate,jdbcType=VARCHAR},
      feedbackContent = #{feedbackcontent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.dsvshx.blog.entity.Feedback" >
    update feedback
    set contactInfo = #{contactinfo,jdbcType=VARCHAR},
      personId = #{personid,jdbcType=INTEGER},
      feedbackDate = #{feedbackdate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>